
// div.dropdown-toggle {
//   cursor:pointer;
//   padding:15px 15px;
//   color:#777;
// }

div.page-heading {
  margin-top:2.5em;
  margin-bottom:2em;
}



/* A/B TESTING HEADER IMAGES */

.intro-headerb {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    //background: url(../img/geo-bg.png) no-repeat center center;
    //background: url(../img/nyc-targeting.png) no-repeat center center;
    //background: url(../img/us-income-map.png) no-repeat center center;
    //background: url(../img/us-income-map2.png) no-repeat center center;
    background: url(../img/courthack-2.png) no-repeat center center;
    background-size: cover;
}

.intro-headerc {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    //background: url(../img/laidback-laptop-bg.png) no-repeat center center;
    background: url(../img/laidback-2.png) no-repeat center center;
    background-size: cover;
}

.intro-headerd {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    //background: url(../img/courthack-focus.png) no-repeat center center;
    // background: url(../img/courthack-6.png) no-repeat center center;
    background: url(../img/laidback-3.png) no-repeat center center;
    background-size: cover;
}

.intro-headere {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/posts/income-and-affordability-map.png) no-repeat center center;
    background-size: cover;
}
