.intro-header-viz {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    //background: url(../img/intro-bg.jpg) no-repeat center center;
    background: url(../img/night-sky-bg.jpg) no-repeat center center;
    //background: no-repeat center center;
    background-size: cover;
}

/* adapted from source: http://stackoverflow.com/a/25978286/670433 */
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    // padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
    //background-color:grey;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 0; // 10px;
    left: 0;
    //background-color:steelblue;
    //background-color: #f8f8f8;
    //opacity: 0.5;
    height:100%;
    width:100%;
    //z-index: -1;
    padding-top: 50px;
}

//.intro-link {
//  z-index: 200;
//
