<!-- About Section -->
<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 page-heading">
      <h2>About</h2>
      <hr class="intro-divider">
        <p>
          Founded in 2016 by <a href="/team">MJ Rossetti</a>,
          Data Creative provides business consulting services specializing in the areas of
          <a class="page-scroll text-nowrap" href="{{ home_path_prefix }}#strategy">Data Strategy</a>,
          <a class="page-scroll text-nowrap" href="{{ home_path_prefix }}#architecture">Data Architecture</a>, and
          <a class="page-scroll text-nowrap" href="{{ home_path_prefix }}#engineering">Data Engineering</a>.
        </p>
    </div>
  </div>
</section>
