<script type="text/javascript">

    if (location.search != "") {
        console.log("DETECTED SOME URL PARAMS");
        var requestedTech = location.search.split("?tech=")[1];
        var requestedCat = location.search.split("?cat=")[1];
        var validTech = !(typeof(requestedTech) == "undefined");
        var validCat = !(typeof(requestedCat) == "undefined");
        var validRequest = (validTech || validCat) && !(validTech && validCat); // api only accepts either param, not both

        if (validRequest == true) {
            console.log("API REQUEST IS VALID");

            // FILTER POSTS

            var allPostsLinkTagStr = "<a href='/blog'>all posts</a>";

            var posts = Array.from(document.getElementsByClassName("post"))

            if (validTech) {
                var selectedTech = requestedTech.trim().toLowerCase();
                console.log("SELECTED TECH:", selectedTech);
                var selectedPosts = posts.filter(function(p){ return p.dataset.technologies.split(" ").includes(selectedTech) })
                var unselectedPosts = posts.filter(function(p){ return !p.dataset.technologies.split(" ").includes(selectedTech) })
                var suggestedTechLinkTagStr = "<a href='/blog?tech=ruby'><code>ruby</code></a>";
                var errorMessageContent = "Sorry, found no posts matching the selected technology, <code>" + selectedTech + "</code>. </br> Why don't you try " + suggestedTechLinkTagStr + " instead? Or "+allPostsLinkTagStr+"..."
                var successMessageContent = "Found " + selectedPosts.length + " posts matching the selected technology, <code>" + selectedTech + "</code>."
            }
            else if (validCat == true) {
                var selectedCat = requestedCat.trim().toLowerCase();
                console.log("SELECTED CATEGORY:", selectedCat);
                var selectedPosts = posts.filter(function(p){ return p.dataset.categories.split(" ").includes(selectedCat) })
                var unselectedPosts = posts.filter(function(p){ return !p.dataset.categories.split(" ").includes(selectedCat) })
                var suggestedCatLinkTagStr = "<a href='/blog?cat=projects'><code>projects</code></a>";
                var errorMessageContent = "Sorry, found no posts matching the selected category, <code>" + selectedCat + "</code>. </br> Why don't you try " + suggestedCatLinkTagStr + " instead? Or "+allPostsLinkTagStr+"..."
                var successMessageContent = "Found " + selectedPosts.length + " posts matching the selected category, <code>" + selectedCat + "</code>."
            };
            console.log("SELECTED:", selectedPosts.length, "UNSELECTED:", unselectedPosts.length);

            // UPDATE RESPONSE MESSAGE

            var responseMessage = d3.select("span#api-response-message").append("p")
                .classed("text-center",1)
                .style("margin-bottom", "2em");

            if ( selectedPosts.length == 0 ) {
                console.log("OOPS, NO MATCHING POSTS");
                responseMessage.html(errorMessageContent);
            } else {
                responseMessage.html(successMessageContent);
            };

            // KEEP SELECTED POSTS ONLY

            unselectedPosts.forEach(function(el){
              el.remove();
            });

            // RE-STYLE REMAINING POSTS (see /_includes/post_list for initial styles)

            selectedPosts.forEach(function(el, i){
                // clear both striping classes
                el.classList.remove("content-section-a")
                el.classList.remove("content-section-b")

                if (i % 2) {
                    //console.log("SECTION B", i)
                    el.classList.add("content-section-b");
                    var listItem = el.getElementsByClassName("post_list_item")[0]
                    listItem.className = "post_list_item col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6"
                    var listImage = el.getElementsByClassName("post_list_image")[0]
                    listImage.className = "post_list_image col-lg-5 col-sm-pull-6  col-sm-6"
                } else {
                    //console.log("SECTION A", i)
                    el.classList.add("content-section-a");
                    var listItem = el.getElementsByClassName("post_list_item")[0]
                    listItem.className = "post_list_item col-lg-5 col-sm-6"
                    var listImage = el.getElementsByClassName("post_list_image")[0]
                    listImage.className = "post_list_image col-lg-5 col-lg-offset-2 col-sm-6"
                };
            });

        }; // if there is a valid api request

    }; // if url params are present

</script>
