<!-- d3.js -->
<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script>

    var myData = [100,200,100,30,10]

    var hr = document.getElementById("intro-divider")

    var svg = d3.select("div.intro-header-viz").append("svg")
        .attr({preserveAspectRatio: "xMinYMin meet", viewBox: "0 0 600 400"}) //responsive SVG needs these 2 attributes and no width and height attr
        .classed("svg-content-responsive", true); //class to make it responsive

    //var hSvg = svg.node().height.baseVal.value
    //console.log("SVG HEIGHT", hSvg)

    var yScale = d3.scale.linear()
        .domain([0, d3.max(myData)])
        .range([hSvg,0]); //NOTE: MIN AND MAX INVERTED ON PURPOSE

    var rect = svg.selectAll("rect").data(myData).enter().append("rect")
        .style({stroke: 'f8f8f8', fill: 'steelblue'})
        .attr({
          width: 20,

          height: function(d){ return d; },


          x: function(d, i){ return i * 100; },

          y: function(d){
            var hSvg = svg.node().height.baseVal.value

            //var yHr = hr.getBoundingClientRect().bottom
            //return hSvg - yHr;
            //return yScale(5);
            return hSvg;
          }

        })





/*
x = d3.scale.linear()
        .domain([120,180]) // SCALED_SCORES
        .range([(0 + margin.left),(svg_width - margin.right)]);


*/

















    window.addEventListener('resize', function(event){
        var hSvg = svg.node().height.baseVal.value;
        var wSvg = svg.node().width.baseVal.value
        //console.log("resizing!", " H: ", Math.round(h), " W: ", Math.round(w))

        var hrPosition = hr.getBoundingClientRect();
        var xHr = hrPosition.top;
        //console.log(hrPosition.top, hrPosition.right, hrPosition.bottom, hrPosition.left);
        //console.log(hrX);

        console.log("SVG H:", Math.round(hSvg), "SVG W:", Math.round(wSvg), "HR X:", xHr)

        yScale.range([hSvg,0])

    });

</script>
