<!-- d3.js -->
<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script>

    var hr = document.getElementById("intro-divider")

    var svg = d3.select("div.intro-header-viz").append("svg")
        .attr({preserveAspectRatio: "xMinYMin meet", viewBox: "0 0 600 400"}) //responsive SVG needs these 2 attributes and no width and height attr
        .classed("svg-content-responsive", true); //class to make it responsive

    var myData = [100,200,100,30,10]

    var column = svg.selectAll("rect").data(myData).enter().append("rect")
        .style({stroke: 'f8f8f8', fill: 'steelblue'})
        .attr({

          height: function(d){ return d; },

          width: 20,

          x: function(d, i){ return i * 100; },

          y: function(d){
            var hSvg = svg.node().height.baseVal.value
            var yHr = hr.getBoundingClientRect().bottom
            return hSvg - yHr;
            //return 200;
          }

        })





/*
x = d3.scale.linear()
        .domain([120,180]) // SCALED_SCORES
        .range([(0 + margin.left),(svg_width - margin.right)]);

    y = d3.scale.linear()
        .domain([0,100]) // PERCENTILES
        .range([(svg_height - margin.bottom),(0 + margin.top)]); //NOTE: MIN AND MAX INVERTED ON PURPOSE
*/

















    window.addEventListener('resize', function(event){
        var h = svg.node().height.baseVal.value;
        var w = svg.node().width.baseVal.value
        //console.log("resizing!", " H: ", Math.round(h), " W: ", Math.round(w))

        var hrPosition = hr.getBoundingClientRect();
        var hrX = hrPosition.top;
        //console.log(hrPosition.top, hrPosition.right, hrPosition.bottom, hrPosition.left);
        //console.log(hrX);

        console.log("SVG H:", Math.round(h), "SVG W:", Math.round(w), "HR X:", hrX)

    });

</script>
