<section id="post-header" class="container" style="margin-top:50px;">
		<div class="row">
			<div class="col-lg-12 page-heading">

				<img class="img-responsive" style="max-height:20em;" src="{{ site.baseurl }}/img/posts/{{ page.img }}" alt="">

				<h1>{{ page.title }}</h1>

        <p>
					<i class="fa fa-calendar fa-fw"></i>
          Published:
          <span class="text-nowrap" style="font-weight:normal;">
            {{ page.date | date: "%Y-%m-%d" }}
          </span>
        </p>

        {% if page.author %}
        <p>
					<i class="fa fa-user fa-fw"></i>
          By:
          <span style="font-weight:normal;">
            <a href="/team">{{ page.author }}</a>
          </span>
        </p>
        {% endif %}

				{% if page.categories %}
				<div style="margin-bottom:10px;">
				  <span style="padding-right:5px;">
				    <i class="fa fa-folder-open fa-fw"></i>
				    Category:
				  </span>
				  <ul class="list-inline" style="display:inline;">
				    {% assign sorted_categories = page.categories | sort %}
				    {% for item in sorted_categories %}
				      <li style="font-weight:normal; padding-left:0; padding-right:0;">

				        <a href="{{home_path_prefix}}blog?cat={{item}}">{{item}}</a>
				      </li>
				    {% endfor %}
				  </ul>
				</div>
				{% endif %}

        {% if page.technologies %}
        <div>
          <span style="padding-right:5px;">
						<i class="fa fa-tags fa-fw"></i>
						Technologies:
					</span>
          <ul class="list-inline" style="display:inline;">
            {% assign sorted_technologies = page.technologies | sort %}
            {% for item in sorted_technologies %}
              <li style="font-weight:normal; padding-left:0; padding-right:0;">

                <a href="{{home_path_prefix}}blog?tech={{item}}">{{item}}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}


			</div>
		</div><!-- /.row -->
</section>

<section id="post-content">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 lead">
        {{ page.content }}
      </div>
    </div>
  </div><!-- /.container -->
</section>

<section id="post-footer" style="margin-bottom:2em;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">

        <a href="{{ site.repository }}edit/master/{{ page.path }}" class="btn btn-default">
          <i class="fa fa-pencil fa-fw"></i> Edit this page.
        </a>

      </div>
    </div>
  </div><!-- /.container -->
</section>
