<section id="post-header" class="container" style="margin-top:50px;">
		<div class="row">
			<div class="col-lg-12 page-heading">

				<h1>{{ page.title }}</h1>

        <p>
          Published:
          <span class="text-nowrap" style="font-weight:normal;">
            {{ page.date | date: "%Y-%m-%d" }}
          </span>
        </p>

        {% if page.author %}
        <p>
          By:
          <span style="font-weight:normal;">
            {{ page.author }}
          </span>
        </p>
        {% endif %}

        {% if page.technologies %}
        <div>
          <span style="padding-right:5px;">Technologies:</span>
          <ul class="list-inline" style="display:inline;">
            {% assign sorted_technologies = page.technologies | sort %}
            {% for item in sorted_technologies %}
              <li style="font-weight:normal; padding-left:0; padding-right:0;">

                <a href="{{home_path_prefix}}blog?tech={{item}}">{{item}}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}

			</div>
		</div><!-- /.row -->
</section>

<section id="post-content">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 lead">
        {{ page.content }}
      </div>
    </div>
  </div><!-- /.container -->
</section>

<section id="post-footer" style="margin-bottom:2em;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">

        <a href="{{ site.repository }}edit/master/{{ page.path }}" class="btn btn-default">
          <i class="fa fa-pencil fa-fw"></i> Edit this page.
        </a>

      </div>
    </div>
  </div><!-- /.container -->
</section>
