<!--hr class="section-heading-spacer"-->
<div class="clearfix"></div>

<h2 class="section-heading">
  <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
</h2>

<p>
  <i class="fa fa-calendar fa-fw"></i>
  Published:
  <span style="font-weight:normal;">
    {{ post.date | date: "%Y-%m-%d" }}
  </span>
</p>

{% if post.author %}
<p>
  <i class="fa fa-user fa-fw"></i>
  By:
  <span style="font-weight:normal;">
    <a href="/team" title="view author bio">{{ post.author }}</a>
  </span>
</p>
{% endif %}

{% if post.categories %}
<div style="margin-bottom:10px;">
  <span style="padding-right:5px;">
    <!--i class="fa fa-folder-open-o fa-fw"></i-->
    <i class="fa fa-folder-open fa-fw"></i>
    Category:
  </span>
  <ul class="list-inline" style="display:inline;">
    {% assign sorted_categories = post.categories | sort %}
    {% for item in sorted_categories %}
      <li style="font-weight:normal; padding-left:0; padding-right:0;">

        <a href="{{home_path_prefix}}blog?cat={{item}}" title="filter posts matching this category">{{item}}</a>
      </li>
    {% endfor %}
  </ul>
</div>
{% endif %}

{% if post.technologies %}
<div style="margin-bottom:10px;">
  <span style="padding-right:5px;">
    <!--i class="fa fa-floppy-o fa-fw"></i>
    <i class="fa fa-usb fa-fw"></i>
    <i class="fa fa-plug fa-fw"></i>
    <i class="fa fa-scissors fa-fw"></i>
    <i class="fa fa-hdd-o fa-fw"></i-->
    <i class="fa fa-tags fa-fw"></i>
    Technologies:
  </span>
  <ul class="list-inline" style="display:inline;">
    {% assign sorted_technologies = post.technologies | sort %}
    {% for item in sorted_technologies %}
      <li style="font-weight:normal; padding-left:0; padding-right:0;">
        <a href="{{home_path_prefix}}blog?tech={{item}}" title="filter posts matching this technology">{{item}}</a>
      </li>
    {% endfor %}
  </ul>
</div>
{% endif %}

{% if post.repo_url %}
<p>
  <i class="fa fa-git fa-fw"></i>
  <a href="{{ post.repo_url }}" title="view repository">Repository Page</a>
</p>
{% endif %}

{% if post.project_url %}
<p>
  <i class="fa fa-link fa-fw"></i>
  <a href="{{ post.project_url }}" title="view project page">Project Page</a>
</p>
{% endif %}
