<!-- Team Section -->
<section id="team" class="container content-section text-center" style="margin-top:50px;">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 page-heading">
      <h2>Team</h2>
      <hr class="intro-divider">
      <ul class="list-unstyled">
        <li>
          <div class="team-member" id="mj-rossetti">

            <img class="img-responsive center-block img-circle img-thumbnail" style="max-height:10em; margin-top:2em; margin-bottom:2em;" src="{{ site.baseurl }}/assets/img/team/mj-rossetti.png" alt="">

            <h3>Mike Rossetti</h3>

            <p class="lead">
              Mike (MJ) Rossetti has experience as a
               <!--strong><em>civic technology fellow</em></strong-->
               <strong><em>business school professor</em></strong>,
               <strong><em>agile software engineer</em></strong>,
               <strong><em>political data analyst</em></strong>, and
               <strong><em>government technology consultant</em></strong>.

               When not exploring urban streets or contributing open source code,
               he practices guitar, rowing, basketball, and yoga.
            </p>

            <ul class="list-inline intro-social-buttons">
							<li>
								<a href="https://www.linkedin.com/in/mikerossetti" class="btn btn-default btn-lg">
                  <i class="fa fa-linkedin fa-fw"></i>
                  <span class="network-name">LinkedIn</span>
                </a>
							</li>

              <li>
								<a href="https://twitter.com/s2t2" class="btn btn-default btn-lg">
                  <i class="fa fa-twitter fa-fw"></i>
                  <span class="network-name">Twitter</span>
                </a>
							</li>

              <li>
								<a href="https://github.com/s2t2" class="btn btn-default btn-lg">
                  <i class="fa fa-github fa-fw"></i>
                  <span class="network-name">GitHub</span>
                </a>
							</li>
						</ul>


          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
