<!-- Team Section -->
<section id="team" class="container content-section text-center" style="margin-top:4em;">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 page-heading">

      <img class="img-responsive center-block img-circle img-thumbnail" style="max-height:10em; margin-top:2em; margin-bottom:2em;" src="{{ site.baseurl }}/assets/img/team/mj-rossetti-portrait-square.jpg" alt="">

      <p class="lead">
        MJ Rossetti is a
          civic technologist,
          open source software contributor, and
          adjunct professor of business and computer science.
      </p>

      <ul class="list-inline intro-social-buttons">
        <li>
          <a href="https://www.linkedin.com/in/mikerossetti" class="btn btn-default btn-lg">
            <i class="fa fa-linkedin fa-fw"></i>
            <span class="network-name">LinkedIn</span>
          </a>
        </li>
        <li>
					<a href="https://twitter.com/s2t2" class="btn btn-default btn-lg">
            <i class="fa fa-twitter fa-fw"></i>
            <span class="network-name">Twitter</span>
          </a>
				</li>
        <li>
					<a href="https://github.com/s2t2" class="btn btn-default btn-lg">
            <i class="fa fa-github fa-fw"></i>
            <span class="network-name">GitHub</span>
          </a>
				</li>
			</ul>


    </div>
  </div>
</section>
